body {
  background-color: #E25443;
  color:;
  font-size: 15px;

}

#upper_right {
	position: absolute;
	top: 0;
	right: 0%;
  height: 150px;
  width: 150px;
}


#lower_left {
	position: absolute;
	bottom: 0%;
	left: 0;
  height: 150px;
  width: 150px;
}


.box {
  padding: 30px;
  width: 400px;
  height: 400px;
  background-color:#E8E4DD;
  margin: 0 auto;
}

pre{
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #333;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: /*whatever width you want*/;
}

h1{
  padding: 25px;
  font-family: 'Sintony', sans-serif;
  font-size: 40px;
  line-height: 50px;
}

.music {
  display:none;
}

.music__credit {
   position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Sintony', sans-serif;
}

.music__credit p {
  padding-top: 0px;
  padding-bottom: 3px;
  margin-top: 0px;
  margin-bottom: 3px;
  font-size: 12px;
  color: #ffe135;
}

.music__credit a {
  text-decoration: none;
  color: #ffe135;
}
